# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.matadata
.project
.classpath
.settings
.factorypath
classpath-data.json

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
target

# Build
out
build
bin

# Other
*.log
*.swp
*.bak

# General
.DS_Store

#Test
TestMain.java